/* line 8, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-large-middle, .mv-input-btn-common-middle, .mv-input-btn-common-small, .mv-input-btn-large, .mv-input-btn-large-max {
  border: none;
  border-radius: 3px;
}

/* line 13, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-common-middle, .mv-input-btn-common-small {
  background: url("../images/mv-ui-btn-gray.png");
}

/* atd */
/* line 91, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-large-middle, .mv-input-btn-large, .mv-input-btn-large-max {
  background-image: url("../images/mv-ui-btn-sky.png");
}

/*dsp button*/
/* line 58, progress-index-dsp/*.png */
.progress-index-dsp-sprite {
  background: url('/images/progress-index-dsp-sc175fc3384.png') no-repeat;
}

/* line 58, progress-index-dmp/*.png */
.progress-index-dmp-sprite {
  background: url('/images/progress-index-dmp-s2c495924a6.png') no-repeat;
}

/* line 58, progress-index-atd/*.png */
.progress-index-atd-sprite, .mv-progress-index .mv-progress-index-box-waite, .mv-progress-index .mv-progress-index-box-start, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-2, .mv-progress-index .mv-progress-index-box-finish, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-1, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-2 {
  background: url('/images/progress-index-atd-s7324722219.png') no-repeat;
}

/* line 12, ../sass/mv-ui-atd.scss */
.mv-input-btn-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: white;
}
/* line 99, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-small:hover {
  background-position: 0 -104px;
}

/* line 16, ../sass/mv-ui-atd.scss */
.mv-input-btn-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: white;
}
/* line 104, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-middle:hover {
  background-position: 0 -104px;
}

/* line 20, ../sass/mv-ui-atd.scss */
.mv-input-btn-fun {
  width: 122px;
  height: 36px;
  padding-left: -10px;
  background-position: 0 -140px;
  font-size: 13px;
  color: white;
}
/* line 125, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-fun:hover {
  background-position: 0 -186px;
}

/* line 24, ../sass/mv-ui-atd.scss */
.mv-input-btn-large-middle {
  width: 90px;
  height: 26px;
  background-position: 0 -304px;
  color: white;
}
/* line 114, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-large-middle:hover {
  background-position: 0 -340px;
}

/* line 28, ../sass/mv-ui-atd.scss */
.mv-input-btn-common-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: #414141;
}
/* line 39, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-common-middle:hover {
  background-position: 0 -104px;
}

/* line 32, ../sass/mv-ui-atd.scss */
.mv-input-btn-common-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: #414141;
}
/* line 34, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-common-small:hover {
  background-position: 0 -104px;
}

/* line 36, ../sass/mv-ui-atd.scss */
.mv-input-btn-large {
  width: 80px;
  height: 26px;
  background-position: 0 -232px;
  color: white;
}
/* line 109, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-large:hover {
  background-position: 0 -268px;
}

/* line 40, ../sass/mv-ui-atd.scss */
.mv-input-btn-large-max {
  width: 100px;
  height: 26px;
  background-position: 0 -376px;
  color: white;
}
/* line 119, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-large-max:hover {
  background-position: 0 -412px;
}

/* line 44, ../sass/mv-ui-atd.scss */
.mv-input-btn-large {
  width: 80px;
  height: 26px;
  background-position: 0 -232px;
  color: white;
}
/* line 109, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-large:hover {
  background-position: 0 -268px;
}

/* line 48, ../sass/mv-ui-atd.scss */
.mv-tab {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: white;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #6c82b4;
  background-position: 0 -45px;
}

/* line 52, ../sass/mv-ui-atd.scss */
.mv-tab-similarity {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: #414141;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #dfdfdf;
  background-position: 0 -135px;
}

/* line 56, ../sass/mv-ui-atd.scss */
.mv-list-box {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 30px 0 5px;
  background: #a0b89a;
  font-size: 12px;
  color: white;
}
/* line 10, ../sass_uicomponent/mv-list-box.scss */
.mv-list-box span {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 2px;
  top: 3px;
  background-image: url("../images/mv-ui-list-box.png");
  background-position: 0 -92px;
}
/* line 33, ../sass_uicomponent/mv-list-box.scss */
.mv-list-box span:hover {
  background-position: 0 -115px;
  cursor: pointer;
}

/* line 59, ../sass/mv-ui-atd.scss */
.mv-notify-danger {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #f87e7e;
  background: #fee0e9;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
/* line 11, ../sass_uicomponent/mv-notify.scss */
.mv-notify-danger span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 3px;
  background-image: url("../images/mv-ui-notify.png");
}

/* line 62, ../sass/mv-ui-atd.scss */
.mv-notify-success {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #a2db77;
  background: #ebf7e1;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
/* line 11, ../sass_uicomponent/mv-notify.scss */
.mv-notify-success span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 3px;
  background-image: url("../images/mv-ui-notify.png");
  background-position: 0 -25px;
}

/* line 65, ../sass/mv-ui-atd.scss */
.mv-input-text {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-input-text:focus {
  outline: 0;
  border-color: #A5A8AF;
}

/* line 68, ../sass/mv-ui-atd.scss */
.mv-text-danger {
  display: inline-block;
  color: red;
}
/* line 4, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger input[type="text"] {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border: 1px solid red;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-text-danger input[type="text"]:focus {
  outline: 0;
  border-color: #A5A8AF;
}
/* line 8, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger .mv-validate-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 3px;
  background: url("../images/mv-ui-notify.png");
}
/* line 19, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger .mv-danger-text {
  display: block;
  font-size: 12px;
}

/* line 71, ../sass/mv-ui-atd.scss */
.mv-text-success {
  display: inline-block;
  color: #96c662;
}
/* line 4, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success input[type="text"] {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border: 1px solid #96c662;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-text-success input[type="text"]:focus {
  outline: 0;
  border-color: #A5A8AF;
}
/* line 8, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success .mv-validate-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 3px;
  background: url("../images/mv-ui-notify.png");
  background-position: 0 -25px;
}
/* line 19, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success .mv-danger-text {
  display: block;
  font-size: 12px;
}

/* line 74, ../sass/mv-ui-atd.scss */
.mv-location-nav {
  font-size: 12px;
  color: #4D4D4D;
}
/* line 4, ../sass_uicomponent/mv-location-nav.scss */
.mv-location-nav .mv-location-icon {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 11px;
  top: 2px;
  background: url("../images/mv-ui-location.png");
  background-position: 0 -21px;
}
/* line 21, ../sass_uicomponent/mv-location-nav.scss */
.mv-location-nav a {
  color: #3b5998;
}

/* line 77, ../sass/mv-ui-atd.scss */
.mv-message-box {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #d8dfeb;
  padding: 1px;
  background: white;
  font-size: 12px;
}
/* line 9, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-message-box-head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../images/mv-ui-message-box.png");
  background-position: 0 -46px;
}
/* line 27, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-box-head-text {
  float: left;
  position: relative;
  left: 10px;
  color: white;
}
/* line 37, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-box-select {
  float: right;
  position: relative;
  height: 28px;
  height: 23px\9;
  top: 3px;
  top: 5px\9;
  right: 5px;
  color: #707070;
}
/* line 47, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-message-box-content {
  width: 100%;
  min-height: 50px;
  padding-top: 1px;
  background: white;
}

/* line 80, ../sass/mv-ui-atd.scss */
.mv-message-box-common {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #dee3e4;
  padding: 1px;
  background: white;
  font-size: 12px;
}
/* line 9, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-message-box-head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../images/mv-ui-message-box.png");
  background-position: 0 -92px;
}
/* line 27, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-box-head-text {
  float: left;
  position: relative;
  left: 10px;
  color: #414141;
}
/* line 37, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-box-select {
  float: right;
  position: relative;
  height: 28px;
  height: 23px\9;
  top: 3px;
  top: 5px\9;
  right: 5px;
  color: #707070;
}
/* line 47, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-message-box-content {
  width: 100%;
  min-height: 50px;
  padding-top: 1px;
  background: #f2f3f4;
}

/*progress bar*/
/* line 84, ../sass/mv-ui-atd.scss */
.mv-load-state {
  display: inline-block;
  width: 262px;
  height: 76px;
  padding: 1px;
  border: 3px solid #404040;
  background: white;
}
/* line 8, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-ing {
  width: 100%;
  height: 100%;
  background: #EFF0F0;
  text-align: center;
}
/* line 13, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-ing p {
  position: relative;
  top: 20px;
  font-size: 13px;
}
/* line 19, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load {
  position: relative;
  width: 210px;
  height: 12px;
  margin: 12px auto;
  padding: 1px;
  top: 10px;
  border: 1px solid #CFD3D3;
  background: white;
}
/* line 29, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-style {
  width: 0;
  height: 100%;
  background: #8cc860;
}

/* line 87, ../sass/mv-ui-atd.scss */
.mv-progress-index {
  display: inline-block;
  width: 588px;
  height: 42px;
  padding: 1px;
  border: 1px solid #CECCD0;
  font-size: 12px;
}
/* line 83, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite, .mv-progress-index .mv-progress-index-box-start, .mv-progress-index .mv-progress-index-box-finish {
  position: relative;
  width: 584px;
  height: 38px;
  margin: 2px auto;
}
/* line 88, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite div, .mv-progress-index .mv-progress-index-box-start div, .mv-progress-index .mv-progress-index-box-finish div {
  position: absolute;
  width: 206px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}
/* line 95, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite .mv-progress-index-3, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-3, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-3 {
  right: 0;
}
/* line 98, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite .mv-progress-index-2, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-2, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-2 {
  color: white;
  left: 188px;
}
/* line 102, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite .mv-progress-index-1, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-1, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-1 {
  color: white;
}
/* line 53, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite {
  background-position: 0 -76px;
}
/* line 57, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-start {
  background-position: 0 -76px;
}
/* line 60, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-start .mv-progress-index-2 {
  background-position: 0 0;
}
/* line 64, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-finish {
  background-position: 0 -76px;
}
/* line 67, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-finish .mv-progress-index-1 {
  background-position: 0 -38px;
}
/* line 70, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-finish .mv-progress-index-2 {
  background-position: 0 0;
}
