/* line 8, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-common-middle, .mv-input-btn-common-small, .mv-input-btn-set-group {
  border: none;
  border-radius: 3px;
}

/* line 13, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-common-middle, .mv-input-btn-common-small {
  background: url("../images/mv-ui-btn-gray.png");
}

/* atd */
/*dsp button*/
/* line 134, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun {
  background-image: url("../images/mv-ui-btn-blue.png");
}

/* line 12, ../sass/mv-ui-dsp.scss */
.mv-input-btn-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: white;
}
/* line 142, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-small:hover {
  background-position: 0 -104px;
}

/* line 16, ../sass/mv-ui-dsp.scss */
.mv-input-btn-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: white;
}
/* line 147, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-middle:hover {
  background-position: 0 -104px;
}

/* line 20, ../sass/mv-ui-dsp.scss */
.mv-input-btn-fun {
  width: 122px;
  height: 36px;
  padding-left: -10px;
  background-position: 0 -140px;
  font-size: 13px;
  color: white;
}
/* line 153, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-fun:hover {
  background-position: 0 -186px;
}

/* line 24, ../sass/mv-ui-dsp.scss */
.mv-input-btn-common-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: #414141;
}
/* line 39, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-common-middle:hover {
  background-position: 0 -104px;
}

/* line 28, ../sass/mv-ui-dsp.scss */
.mv-input-btn-common-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: #414141;
}
/* line 34, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-common-small:hover {
  background-position: 0 -104px;
}

/* line 32, ../sass/mv-ui-dsp.scss */
.mv-input-btn-set-group {
  width: 122px;
  height: 36px;
  background-image: url("../images/mv-ui-btn-gray.png");
  background-position: 0 -140px;
  color: #414141;
}
/* line 164, ../sass_uicomponent/mv-button.scss */
.mv-input-btn-set-group:hover {
  background-position: 0 -186px;
}

/* line 36, ../sass/mv-ui-dsp.scss */
.mv-tab {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: white;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #0d60bf;
  background-position: 0 0;
}

/* line 40, ../sass/mv-ui-dsp.scss */
.mv-tab-similarity {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: #414141;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #dfdfdf;
  background-position: 0 -135px;
}

/* line 44, ../sass/mv-ui-dsp.scss */
.mv-list-box {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 30px 0 5px;
  background: #6fa7c8;
  font-size: 12px;
  color: white;
}
/* line 10, ../sass_uicomponent/mv-list-box.scss */
.mv-list-box span {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 2px;
  top: 3px;
  background-image: url("../images/mv-ui-list-box.png");
  background-position: 0 0;
}
/* line 19, ../sass_uicomponent/mv-list-box.scss */
.mv-list-box span:hover {
  background-position: 0 -23px;
  cursor: pointer;
}

/* line 47, ../sass/mv-ui-dsp.scss */
.mv-notify-danger {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #f87e7e;
  background: #fee0e9;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
/* line 11, ../sass_uicomponent/mv-notify.scss */
.mv-notify-danger span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 3px;
  background-image: url("../images/mv-ui-notify.png");
}

/* line 50, ../sass/mv-ui-dsp.scss */
.mv-notify-success {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #a2db77;
  background: #ebf7e1;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
/* line 11, ../sass_uicomponent/mv-notify.scss */
.mv-notify-success span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 3px;
  background-image: url("../images/mv-ui-notify.png");
  background-position: 0 -25px;
}

/* line 53, ../sass/mv-ui-dsp.scss */
.mv-input-text {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-input-text:focus {
  outline: 0;
  border-color: #A5A8AF;
}

/* line 56, ../sass/mv-ui-dsp.scss */
.mv-text-danger {
  display: inline-block;
  color: red;
}
/* line 4, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger input[type="text"] {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border: 1px solid red;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-text-danger input[type="text"]:focus {
  outline: 0;
  border-color: #A5A8AF;
}
/* line 8, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger .mv-validate-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 3px;
  background: url("../images/mv-ui-notify.png");
}
/* line 19, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger .mv-danger-text {
  display: block;
  font-size: 12px;
}

/* line 59, ../sass/mv-ui-dsp.scss */
.mv-text-success {
  display: inline-block;
  color: #96c662;
}
/* line 4, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success input[type="text"] {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border: 1px solid #96c662;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-text-success input[type="text"]:focus {
  outline: 0;
  border-color: #A5A8AF;
}
/* line 8, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success .mv-validate-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 3px;
  background: url("../images/mv-ui-notify.png");
  background-position: 0 -25px;
}
/* line 19, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success .mv-danger-text {
  display: block;
  font-size: 12px;
}

/* line 62, ../sass/mv-ui-dsp.scss */
.mv-location-nav {
  font-size: 12px;
  color: #4D4D4D;
}
/* line 4, ../sass_uicomponent/mv-location-nav.scss */
.mv-location-nav .mv-location-icon {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 11px;
  top: 2px;
  background: url("../images/mv-ui-location.png");
  background-position: 0 0;
}
/* line 21, ../sass_uicomponent/mv-location-nav.scss */
.mv-location-nav a {
  color: #3b5998;
}

/* line 65, ../sass/mv-ui-dsp.scss */
.mv-message-box {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #c8e2f2;
  padding: 1px;
  background: white;
  font-size: 12px;
}
/* line 9, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-message-box-head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../images/mv-ui-message-box.png");
  background-position: 0 0;
}
/* line 27, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-box-head-text {
  float: left;
  position: relative;
  left: 10px;
  color: white;
}
/* line 37, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-box-select {
  float: right;
  position: relative;
  height: 28px;
  height: 23px\9;
  top: 3px;
  top: 5px\9;
  right: 5px;
  color: #707070;
}
/* line 47, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-message-box-content {
  width: 100%;
  min-height: 50px;
  padding-top: 1px;
  background: white;
}

/* line 68, ../sass/mv-ui-dsp.scss */
.mv-message-box-common {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #dee3e4;
  padding: 1px;
  background: white;
  font-size: 12px;
}
/* line 9, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-message-box-head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../images/mv-ui-message-box.png");
  background-position: 0 -92px;
}
/* line 27, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-box-head-text {
  float: left;
  position: relative;
  left: 10px;
  color: #414141;
}
/* line 37, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-box-select {
  float: right;
  position: relative;
  height: 28px;
  height: 23px\9;
  top: 3px;
  top: 5px\9;
  right: 5px;
  color: #707070;
}
/* line 47, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-message-box-content {
  width: 100%;
  min-height: 50px;
  padding-top: 1px;
  background: #f2f3f4;
}

/* line 71, ../sass/mv-ui-dsp.scss */
.mv-load-state {
  display: inline-block;
  width: 262px;
  height: 76px;
  padding: 1px;
  border: 3px solid #404040;
  background: white;
}
/* line 8, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-ing {
  width: 100%;
  height: 100%;
  background: #EFF0F0;
  text-align: center;
}
/* line 13, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-ing p {
  position: relative;
  top: 20px;
  font-size: 13px;
}
/* line 19, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load {
  position: relative;
  width: 210px;
  height: 12px;
  margin: 12px auto;
  padding: 1px;
  top: 10px;
  border: 1px solid #CFD3D3;
  background: white;
}
/* line 29, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-style {
  width: 210px;
  height: 100%;
  background: #40acdb;
}

/* line 36, ../sass_uicomponent/mv-progress-bar.scss */
.mv-center-progress {
  position: relative;
}

/* line 39, ../sass_uicomponent/mv-progress-bar.scss */
.mv-center-progress .mv-load-state {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
