/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/mv-ui.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-large-middle, .mv-input-btn-common-middle, .mv-input-btn-common-small, .mv-input-btn-large, .mv-input-btn-large-max {
  border: none;
  border-radius: 3px; }

.mv-input-btn-common-middle, .mv-input-btn-common-small {
  background: url("../images/mv-ui-btn-gray.png"); }

.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-large-middle, .mv-input-btn-large, .mv-input-btn-large-max {
  background-image: url("../images/mv-ui-btn-sky.png"); }

.mv-input-btn-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: white; }
  .mv-input-btn-small:hover {
    background-position: 0 -104px; }

.mv-input-btn-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: white; }
  .mv-input-btn-middle:hover {
    background-position: 0 -104px; }

.mv-input-btn-fun {
  width: 122px;
  height: 36px;
  padding-left: -10px;
  background-position: 0 -140px;
  font-size: 13px;
  color: white; }
  .mv-input-btn-fun:hover {
    background-position: 0 -186px; }

.mv-input-btn-large-middle {
  width: 90px;
  height: 26px;
  background-position: 0 -304px;
  color: white; }
  .mv-input-btn-large-middle:hover {
    background-position: 0 -340px; }

.mv-input-btn-common-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: #414141; }
  .mv-input-btn-common-middle:hover {
    background-position: 0 -104px; }

.mv-input-btn-common-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: #414141; }
  .mv-input-btn-common-small:hover {
    background-position: 0 -104px; }

.mv-input-btn-large {
  width: 80px;
  height: 26px;
  background-position: 0 -232px;
  color: white; }
  .mv-input-btn-large:hover {
    background-position: 0 -268px; }

.mv-input-btn-large-max {
  width: 100px;
  height: 26px;
  background-position: 0 -376px;
  color: white; }
  .mv-input-btn-large-max:hover {
    background-position: 0 -412px; }

.mv-input-btn-large {
  width: 80px;
  height: 26px;
  background-position: 0 -232px;
  color: white; }
  .mv-input-btn-large:hover {
    background-position: 0 -268px; }

.mv-tab {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: white;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #6c82b4;
  background-position: 0 -45px; }

.mv-tab-similarity {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: #414141;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #dfdfdf;
  background-position: 0 -135px; }

.mv-list-box {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 30px 0 5px;
  background: #a0b89a;
  font-size: 12px;
  color: white; }
  .mv-list-box span {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 2px;
    top: 3px;
    background-image: url("../images/mv-ui-list-box.png");
    background-position: 0 -92px; }
    .mv-list-box span:hover {
      background-position: 0 -115px;
      cursor: pointer; }

.mv-notify-danger {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #f87e7e;
  background: #fee0e9;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center; }
  .mv-notify-danger span {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    top: 3px;
    background-image: url("../images/mv-ui-notify.png"); }

.mv-notify-success {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #a2db77;
  background: #ebf7e1;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center; }
  .mv-notify-success span {
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    top: 3px;
    background-image: url("../images/mv-ui-notify.png");
    background-position: 0 -25px; }

.mv-input-text {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD; }
  .mv-input-text:focus {
    outline: 0;
    border-color: #A5A8AF; }

.mv-text-danger {
  display: inline-block;
  color: red; }
  .mv-text-danger input[type="text"] {
    width: 100px;
    height: 26px;
    padding-left: 5px;
    border: 1px solid #CDCDCD;
    border: 1px solid red; }
    .mv-text-danger input[type="text"]:focus {
      outline: 0;
      border-color: #A5A8AF; }
  .mv-text-danger .mv-validate-icon {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 3px;
    background: url("../images/mv-ui-notify.png"); }
  .mv-text-danger .mv-danger-text {
    display: block;
    font-size: 12px; }

.mv-text-success {
  display: inline-block;
  color: #96c662; }
  .mv-text-success input[type="text"] {
    width: 100px;
    height: 26px;
    padding-left: 5px;
    border: 1px solid #CDCDCD;
    border: 1px solid #96c662; }
    .mv-text-success input[type="text"]:focus {
      outline: 0;
      border-color: #A5A8AF; }
  .mv-text-success .mv-validate-icon {
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 3px;
    background: url("../images/mv-ui-notify.png");
    background-position: 0 -25px; }
  .mv-text-success .mv-danger-text {
    display: block;
    font-size: 12px; }

.mv-location-nav {
  font-size: 12px;
  color: #4D4D4D; }
  .mv-location-nav .mv-location-icon {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 11px;
    top: 2px;
    background: url("../images/mv-ui-location.png");
    background-position: 0 -21px; }
  .mv-location-nav a {
    color: #3b5998; }

.mv-message-box {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #d8dfeb;
  padding: 1px;
  background: white;
  font-size: 12px; }
  .mv-message-box .mv-message-box-head {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: url("../images/mv-ui-message-box.png");
    background-position: 0 -46px; }
  .mv-message-box .mv-box-head-text {
    float: left;
    position: relative;
    left: 10px;
    color: white; }
  .mv-message-box .mv-box-select {
    float: right;
    position: relative;
    height: 28px;
    height: 23px\9;
    top: 3px;
    top: 5px\9;
    right: 5px;
    color: #707070; }
  .mv-message-box .mv-message-box-content {
    width: 100%;
    min-height: 50px;
    padding-top: 1px;
    background: white; }

.mv-message-box-common {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #dee3e4;
  padding: 1px;
  background: white;
  font-size: 12px; }
  .mv-message-box-common .mv-message-box-head {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: url("../images/mv-ui-message-box.png");
    background-position: 0 -92px; }
  .mv-message-box-common .mv-box-head-text {
    float: left;
    position: relative;
    left: 10px;
    color: #414141; }
  .mv-message-box-common .mv-box-select {
    float: right;
    position: relative;
    height: 28px;
    height: 23px\9;
    top: 3px;
    top: 5px\9;
    right: 5px;
    color: #707070; }
  .mv-message-box-common .mv-message-box-content {
    width: 100%;
    min-height: 50px;
    padding-top: 1px;
    background: #f2f3f4; }

.mv-load-state {
  display: inline-block;
  width: 262px;
  height: 76px;
  padding: 1px;
  border: 3px solid #404040;
  background: white; }
  .mv-load-state .mv-load-ing {
    width: 100%;
    height: 100%;
    background: #EFF0F0;
    text-align: center; }
    .mv-load-state .mv-load-ing p {
      position: relative;
      top: 20px;
      font-size: 13px; }
  .mv-load-state .mv-load {
    position: relative;
    width: 210px;
    height: 12px;
    margin: 0 auto;
    padding: 1px;
    top: 10px;
    border: 1px solid #CFD3D3;
    background: white; }
  .mv-load-state .mv-load-style {
    width: 210px;
    height: 100%;
    background: #8cc860; }
