.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-large-middle, .mv-input-btn-common-middle, .mv-input-btn-common-small, .mv-input-btn-large, .mv-input-btn-add-group {
  border: none;
  border-radius: 3px; }

.mv-input-btn-common-middle, .mv-input-btn-common-small {
  background: url("../images/mv-ui-btn-gray.png"); }

.mv-input-btn-small, .mv-input-btn-middle, .mv-input-btn-fun, .mv-input-btn-large-middle, .mv-input-btn-large {
  background-image: url("../images/mv-ui-btn-origin.png"); }

.mv-input-btn-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: white; }
  .mv-input-btn-small:hover {
    background-position: 0 -34px; }

.mv-input-btn-middle {
  width: 58px;
  height: 26px;
  color: white; }

.mv-input-btn-fun {
  width: 122px;
  height: 36px;
  padding-left: -10px;
  background-position: 0 -140px;
  font-size: 13px;
  color: white; }
  .mv-input-btn-fun:hover {
    background-position: 0 -186px; }

.mv-input-btn-large-middle {
  width: 90px;
  height: 26px;
  color: white; }

.mv-input-btn-common-middle {
  width: 58px;
  height: 26px;
  background-position: 0 -68px;
  color: #414141; }
  .mv-input-btn-common-middle:hover {
    background-position: 0 -104px; }

.mv-input-btn-common-small {
  width: 50px;
  height: 24px;
  background-position: 0 0;
  color: #414141; }
  .mv-input-btn-common-small:hover {
    background-position: 0 -104px; }

.mv-input-btn-large {
  width: 80px;
  height: 26px;
  background-position: 0 -68px;
  font-size: 13px;
  color: white; }
  .mv-input-btn-large:hover {
    background-position: 0 -104px; }

.mv-input-btn-add-group {
  width: 122px;
  height: 36px;
  background-image: url("../images/mv-ui-btn-green.png");
  background-position: 0 0;
  color: white; }
  .mv-input-btn-add-group:hover {
    background-position: 0 -46px; }

/*** only ep ***/
/*.mv-input-btn-large-max{
  @include mv-button($large-max);
  @include mv-ei-input-button($large-max);
}*/
/***  ei not have  ***/
/*
.mv-input-btn-large{
  @include mv-button($large);
  @include mv-ei-input-button($large);
}*/
