/* line 66, icon-btn/*.png */
.icon-btn-sprite, .mv-icon-add, .mv-icon-upDown {
  background: url('../images/icon-btn-sdc6a61627c.png') no-repeat;
}

/* line 58, progress-index-dsp/*.png */
.progress-index-dsp-sprite {
  background: url('/images/progress-index-dsp-sc175fc3384.png') no-repeat;
}

/* line 58, progress-index-dmp/*.png */
.progress-index-dmp-sprite, .mv-progress-index .mv-progress-index-box-waite, .mv-progress-index .mv-progress-index-box-start, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-2, .mv-progress-index .mv-progress-index-box-finish, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-1, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-2 {
  background: url('/images/progress-index-dmp-s2c495924a6.png') no-repeat;
}

/* line 58, progress-index-atd/*.png */
.progress-index-atd-sprite {
  background: url('/images/progress-index-atd-s7324722219.png') no-repeat;
}

/* line 12, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn {
  display: inline-block;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 18, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn-sure,
.mv-btn-upDown {
  /*bdColor,startColor,endColor,textColor*/
  border: 1px solid #ef7131;
  color: white;
  background-color: #f4943e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f4943e), color-stop(100%, #ee7032));
  background-image: -webkit-linear-gradient(top, #f4943e, #ee7032);
  background-image: -moz-linear-gradient(top, #f4943e, #ee7032);
  background-image: -o-linear-gradient(top, #f4943e, #ee7032);
  background-image: linear-gradient(top, #f4943e, #ee7032);
}
/* line 21, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn-sure:hover,
.mv-btn-upDown:hover {
  border: 1px solid #ed611d;
  color: white;
  background-color: #f28624;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f28624), color-stop(100%, #ed601a));
  background-image: -webkit-linear-gradient(top, #f28624, #ed601a);
  background-image: -moz-linear-gradient(top, #f28624, #ed601a);
  background-image: -o-linear-gradient(top, #f28624, #ed601a);
  background-image: linear-gradient(top, #f28624, #ed601a);
}

/* line 25, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn-addGroup {
  border: 1px solid #81bcc4;
  color: white;
  background-color: #97c8ce;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #97c8ce), color-stop(100%, #56a6b0));
  background-image: -webkit-linear-gradient(top, #97c8ce, #56a6b0);
  background-image: -moz-linear-gradient(top, #97c8ce, #56a6b0);
  background-image: -o-linear-gradient(top, #97c8ce, #56a6b0);
  background-image: linear-gradient(top, #97c8ce, #56a6b0);
}
/* line 27, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn-addGroup:hover {
  border: 1px solid #69b0ba;
  color: white;
  background-color: #81bcc5;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #81bcc5), color-stop(100%, #54a5b0));
  background-image: -webkit-linear-gradient(top, #81bcc5, #54a5b0);
  background-image: -moz-linear-gradient(top, #81bcc5, #54a5b0);
  background-image: -o-linear-gradient(top, #81bcc5, #54a5b0);
  background-image: linear-gradient(top, #81bcc5, #54a5b0);
}

/* line 32, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn-cancel {
  border: 1px solid #e3e3e3;
  color: #414141;
  background-color: #f6f6f6;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6f6f6), color-stop(100%, #e4e4e4));
  background-image: -webkit-linear-gradient(top, #f6f6f6, #e4e4e4);
  background-image: -moz-linear-gradient(top, #f6f6f6, #e4e4e4);
  background-image: -o-linear-gradient(top, #f6f6f6, #e4e4e4);
  background-image: linear-gradient(top, #f6f6f6, #e4e4e4);
}
/* line 34, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-btn-cancel:hover {
  border: 1px solid #d7d7d7;
  color: #414141;
  background-color: #ebebeb;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ebebeb), color-stop(100%, #dbdbdb));
  background-image: -webkit-linear-gradient(top, #ebebeb, #dbdbdb);
  background-image: -moz-linear-gradient(top, #ebebeb, #dbdbdb);
  background-image: -o-linear-gradient(top, #ebebeb, #dbdbdb);
  background-image: linear-gradient(top, #ebebeb, #dbdbdb);
}

/* line 30, ../sass_uicomponent/mv-button.scss */
.mv-icon-add {
  position: relative;
  display: inline-block;
  width: 13px;
  height: 13px;
  top: 2px;
  background-position: 0 -42px;
}

/* line 54, ../sass_uicomponent/mv-button.scss */
.mv-icon-upDown {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 12px;
  top: 0;
  background-position: 0 -17px;
}

/* line 19, ../sass_uicomponent/mv-button.scss */
.mv-btn-small {
  height: 24px;
  line-height: 24px;
}

/* line 23, ../sass_uicomponent/mv-button.scss */
.mv-btn-middle {
  height: 32px;
  font-size: 13px;
  line-height: 32px;
}

/* line 41, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-tab {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: white;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #92a9b4;
  background-position: 0 -90px;
}

/* line 45, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-tab-similarity {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: #414141;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  border-color: #dfdfdf;
  background-position: 0 -135px;
}

/* line 49, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-list-box {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 30px 0 5px;
  background: #818490;
  font-size: 12px;
  color: white;
}
/* line 10, ../sass_uicomponent/mv-list-box.scss */
.mv-list-box span {
  position: absolute;
  width: 13px;
  height: 13px;
  right: 2px;
  top: 3px;
  background-image: url("../images/mv-ui-list-box.png");
  background-position: 0 -46px;
}
/* line 26, ../sass_uicomponent/mv-list-box.scss */
.mv-list-box span:hover {
  background-position: 0 -69px;
  cursor: pointer;
}

/* line 52, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-notify-danger {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #f87e7e;
  background: #fee0e9;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
/* line 11, ../sass_uicomponent/mv-notify.scss */
.mv-notify-danger span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 3px;
  background-image: url("../images/mv-ui-notify.png");
}

/* line 55, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-notify-success {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid #a2db77;
  background: #ebf7e1;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
}
/* line 11, ../sass_uicomponent/mv-notify.scss */
.mv-notify-success span {
  display: inline-block;
  position: relative;
  width: 15px;
  height: 15px;
  top: 3px;
  background-image: url("../images/mv-ui-notify.png");
  background-position: 0 -25px;
}

/* line 58, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-input-text {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-input-text:focus {
  outline: 0;
  border-color: #A5A8AF;
}

/* line 61, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-text-danger {
  display: inline-block;
  color: red;
}
/* line 4, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger input[type="text"] {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border: 1px solid red;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-text-danger input[type="text"]:focus {
  outline: 0;
  border-color: #A5A8AF;
}
/* line 8, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger .mv-validate-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 3px;
  background: url("../images/mv-ui-notify.png");
}
/* line 19, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-danger .mv-danger-text {
  display: block;
  font-size: 12px;
}

/* line 64, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-text-success {
  display: inline-block;
  color: #96c662;
}
/* line 4, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success input[type="text"] {
  width: 100px;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  border: 1px solid #96c662;
}
/* line 6, ../sass_uicomponent/mv-input-text.scss */
.mv-text-success input[type="text"]:focus {
  outline: 0;
  border-color: #A5A8AF;
}
/* line 8, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success .mv-validate-icon {
  position: relative;
  display: inline-block;
  width: 15px;
  height: 15px;
  top: 3px;
  background: url("../images/mv-ui-notify.png");
  background-position: 0 -25px;
}
/* line 19, ../sass_uicomponent/mv-input-vaildate.scss */
.mv-text-success .mv-danger-text {
  display: block;
  font-size: 12px;
}

/* line 67, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-location-nav {
  font-size: 12px;
  color: #4D4D4D;
}
/* line 4, ../sass_uicomponent/mv-location-nav.scss */
.mv-location-nav .mv-location-icon {
  display: inline-block;
  position: relative;
  width: 13px;
  height: 11px;
  top: 2px;
  background: url("../images/mv-ui-location.png");
  background-position: 0 -42px;
}
/* line 21, ../sass_uicomponent/mv-location-nav.scss */
.mv-location-nav a {
  color: #3b5998;
}

/* line 70, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-message-box {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #bcdce0;
  padding: 1px;
  background: white;
  font-size: 12px;
}
/* line 9, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-message-box-head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../images/mv-ui-message-box.png");
  background-position: 0 -138px;
}
/* line 27, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-box-head-text {
  float: left;
  position: relative;
  left: 10px;
  color: white;
}
/* line 37, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-box-select {
  float: right;
  position: relative;
  height: 28px;
  height: 23px\9;
  top: 3px;
  top: 5px\9;
  right: 5px;
  color: #707070;
}
/* line 47, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box .mv-message-box-content {
  width: 100%;
  min-height: 50px;
  padding-top: 1px;
  background: white;
}

/* line 73, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-message-box-common {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid #dee3e4;
  padding: 1px;
  background: white;
  font-size: 12px;
}
/* line 9, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-message-box-head {
  width: 100%;
  height: 36px;
  line-height: 36px;
  background: url("../images/mv-ui-message-box.png");
  background-position: 0 -92px;
}
/* line 27, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-box-head-text {
  float: left;
  position: relative;
  left: 10px;
  color: #414141;
}
/* line 37, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-box-select {
  float: right;
  position: relative;
  height: 28px;
  height: 23px\9;
  top: 3px;
  top: 5px\9;
  right: 5px;
  color: #707070;
}
/* line 47, ../sass_uicomponent/mv-message-box.scss */
.mv-message-box-common .mv-message-box-content {
  width: 100%;
  min-height: 50px;
  padding-top: 1px;
  background: #f2f3f4;
}

/* line 76, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-load-state {
  display: inline-block;
  width: 262px;
  height: 76px;
  padding: 1px;
  border: 3px solid #404040;
  background: white;
}
/* line 8, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-ing {
  width: 100%;
  height: 100%;
  background: #EFF0F0;
  text-align: center;
}
/* line 13, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-ing p {
  position: relative;
  top: 20px;
  font-size: 13px;
}
/* line 19, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load {
  position: relative;
  width: 210px;
  height: 12px;
  margin: 12px auto;
  padding: 1px;
  top: 10px;
  border: 1px solid #CFD3D3;
  background: white;
}
/* line 29, ../sass_uicomponent/mv-progress-bar.scss */
.mv-load-state .mv-load-style {
  width: 0;
  height: 100%;
  background: #f4862b;
}

/* line 79, ../sass_uicomponent/mv-ui-dmp.scss */
.mv-progress-index {
  display: inline-block;
  width: 588px;
  height: 42px;
  padding: 1px;
  border: 1px solid #CECCD0;
  font-size: 12px;
}
/* line 83, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite, .mv-progress-index .mv-progress-index-box-start, .mv-progress-index .mv-progress-index-box-finish {
  position: relative;
  width: 584px;
  height: 38px;
  margin: 2px auto;
}
/* line 88, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite div, .mv-progress-index .mv-progress-index-box-start div, .mv-progress-index .mv-progress-index-box-finish div {
  position: absolute;
  width: 206px;
  height: 38px;
  text-align: center;
  line-height: 38px;
}
/* line 95, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite .mv-progress-index-3, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-3, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-3 {
  right: 0;
}
/* line 98, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite .mv-progress-index-2, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-2, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-2 {
  color: white;
  left: 188px;
}
/* line 102, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite .mv-progress-index-1, .mv-progress-index .mv-progress-index-box-start .mv-progress-index-1, .mv-progress-index .mv-progress-index-box-finish .mv-progress-index-1 {
  color: white;
}
/* line 30, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-waite {
  background-position: 0 -76px;
}
/* line 34, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-start {
  background-position: 0 -76px;
}
/* line 37, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-start .mv-progress-index-2 {
  background-position: 0 0;
}
/* line 41, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-finish {
  background-position: 0 -76px;
}
/* line 44, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-finish .mv-progress-index-1 {
  background-position: 0 -38px;
}
/* line 47, ../sass_uicomponent/mv-progress-index.scss */
.mv-progress-index .mv-progress-index-box-finish .mv-progress-index-2 {
  background-position: 0 0;
}
