@import "compass/css3";
@import "compass/utilities/sprites";
@import "icon-btn/*.png";

@mixin mv-btn(){
  display: inline-block;
  border: 0;
  padding-left: 15px;
  padding-right: 15px;
  vertical-align: middle;
}
@mixin mv-btn-color($bdColor,$stColor,$endColor,$textColor){
  border: 1px solid $bdColor;
  color: $textColor;
  background-color: $stColor;
  @include background-image(linear-gradient(top,$stColor,$endColor));
}
@mixin mv-btn-size() {
  .mv-btn-small{
    height: 24px;
    line-height: 24px;
  }
  .mv-btn-middle{
    height: 32px;
    font-size: 13px;
    line-height: 32px;
  }
}
@mixin mv-btn-icon ($product) {
  .mv-icon-add{
    position: relative;
    display: inline-block;
    width: 13px;
    height: 13px;
    top: 2px;
    @if ($product == "dsp") {
      @include icon-btn-sprite(btn-add);
    }
    @if ($product == "dmp"){
      @include icon-btn-sprite(btn-add-1);
    }
  }
  @if ($product == "atd"){
    .mv-icon-calculate {
      position: relative;
      display: inline-block;
      width: 17px;
      height: 17px;
      top: 4px;
      @include icon-btn-sprite(btn-cancluate);
    }
  }
  @if ($product =="dmp") {
    .mv-icon-upDown{
      position: relative;
      display: inline-block;
      width: 14px;
      height: 12px;
      top: 0;
      @include icon-btn-sprite(btn-up-down);
    }
  }
}