%mv-ei-input-button-image {
  background-image: url("../images/mv-ui-btn-blue.png");
}

@mixin mv-ei-input-button ($size,$color: white) {
  @extend %mv-ei-input-button-image;
  @if $size == 50px {
    background-position: 0 0;
    &:hover{
      background-position: 0 -104px;
    }
  }@else if ($size == 58px) {
    background-position: 0 -68px;
    &:hover{
      background-position: 0 -104px;
    }
  }@else if ($size == 122px) {
    padding-left: -10px;
    background-position: 0 -140px;
    &:hover{
      background-position: 0 -186px;
    }
    font-size: 13px;
  }
  color: $color;
}

@mixin mv-ei-input-button-fun () {
  background-image: url("../images/mv-ui-btn-gray.png");
  background-position: 0 -140px;
  &:hover{
    background-position: 0 -186px;
  }
  color: #414141;
}