@mixin mv-location-nav ($t) {
  font-size: 12px;
  color: #4D4D4D;
  .mv-location-icon {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 11px;
    top: 2px;
    background: url("../images/mv-ui-location.png");
    @if ($t == "ei") {
      background-position: 0 0;
    }
    @if ($t == "ep") {
      background-position: 0 -21px;
    }
    @if ($t == "eo") {
      background-position: 0 -42px;
    }
  }
  a{
    color: #3b5998;
  }
}