/*$small: 50px;
$middle: 58px;
$large: 80px;
$large-middle: 90px;
$large-max: 100px;
$larger: 122px;

%mv-btn-radius {
  border: none;
  border-radius: 3px;
}

%mv-btn-common-images {
  background: url("../images/mv-ui-btn-gray.png");
}

@mixin mv-button ($width : 50px,$btn-height: 26px) {
  width: $width;
  @if $width == 50 {
    $btn-height: 24px;
  }@else if ($width == 58px or $width == 80px) {
    $btn-height: 26px;
  }@else if ($width == 122px) {
    $btn-height: 36px;
  }
  height: $btn-height;
  @extend %mv-btn-radius;
}

@mixin mv-button-common ($size,$color: #414141) {
  @extend %mv-btn-common-images;
  @if $size == 50px {
    background-position: 0 0;
    &:hover{
      background-position: 0 -104px;
    }
  }@else if ($size == 58px) {
    background-position: 0 -68px;
    &:hover{
      background-position: 0 -104px;
    }
  }@else if ($size == 122px) {
    padding-left: -10px;
    background-position: 0 -140px;
    &:hover{
      background-position: 0 -186px;
    }
    font-size: 13px;
  }
  color: $color;
}*/

/*@mixin mv-tab-common ($color: white) {
  display: inline-block;
  width: 100px;
  height: 35px;
  border: 1px solid;
  border-bottom: 0;
  line-height: 35px;
  background: url("../images/mv-ui-page-show.png") repeat-x;
  color: $color;
  font-size: 12px;
  text-align: center;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
}
@mixin mv-tab-choose ($color,$x,$y) {
  border-color: $color;
  background-position: $x $y;
}*/

/*@mixin mv-list-box ($bgColor) {
  display: inline-block;
  position: relative;
  height: 20px;
  line-height: 20px;
  padding: 0 30px 0 5px;
  background: $bgColor;
  font-size: 12px;
  color: white;
  span {
    position: absolute;
    width: 13px;
    height: 13px;
    right: 2px;
    top: 3px;
    background-image: url("../images/mv-ui-list-box.png");
    @if ($bgColor == #6FA7C8) {
      background-position: 0 0;
      &:hover{
        background-position: 0 -23px;
        cursor: pointer;
      }
    }
    @if ($bgColor == #818490) {
      background-position: 0 -46px;
      &:hover{
        background-position: 0 -69px;
        cursor: pointer;
      }
    }
    @if ($bgColor == #A0B89A) {
      background-position: 0 -92px;
      &:hover{
        background-position: 0 -115px;
        cursor: pointer;
      }
    }
  }
}*/

/*@mixin mv-notify ($bdColor,$bgColor) {
  display: inline-block;
  width: 90px;
  height: 34px;
  border: 1px solid $bdColor;
  background: $bgColor;
  line-height: 34px;
  font-size: 12px;
  color: #4c4c4c;
  text-align: center;
  span{
    display: inline-block;
    position: relative;
    width: 15px;
    height: 15px;
    top: 3px;
    background-image: url("../images/mv-ui-notify.png");
    @if ($bgColor == #EBF7E1) {
      background-position: 0 -25px;
    }
  }
}*/

/*@mixin mv-input-text ($width) {
  width: $width;
  height: 26px;
  padding-left: 5px;
  border: 1px solid #CDCDCD;
  &:focus{
    outline: 0;
    border-color: #A5A8AF;
  }
}*/

/*@mixin mv-input-validate ($width,$color) {
  display: inline-block;
  color: $color;
  input[type="text"] {
    @include mv-input-text($width);
    border: 1px solid $color;
  }
  .mv-validate-icon{
    position: relative;
    display: inline-block;
    width: 15px;
    height: 15px;
    top: 3px;
    background: url("../images/mv-ui-notify.png");
    @if ($color == #96c662) {
      background-position: 0 -25px;
    }
  }
  .mv-danger-text{
    display: block;
    font-size: 12px;
  }
}*/

/*@mixin mv-location-nav ($t) {
  font-size: 12px;
  color: #4D4D4D;
  .mv-location-icon {
    display: inline-block;
    position: relative;
    width: 13px;
    height: 11px;
    top: 2px;
    background: url("../images/mv-ui-location.png");
    @if ($t == "ei") {
      background-position: 0 0;
    }
    @if ($t == "ep") {
      background-position: 0 -21px;
    }
    @if ($t == "eo") {
      background-position: 0 -42px;
    }
  }
  a{
    color: #3b5998;
  }
}*/

/*@mixin mv-message-box ($color) {
  display: inline-block;
  width: 246px;
  min-height: 50px;
  border: 1px solid $color;
  padding: 1px;
  background: white;
  font-size: 12px;
  .mv-message-box-head{
    width: 100%;
    height: 36px;
    line-height: 36px;
    background: url("../images/mv-ui-message-box.png");
    @if ($color == #dee3e4) {
      background-position: 0 -92px;
    }
    @if ($color == #c8e2f2) {
      background-position: 0 0;
    }
    @if ($color == #d8dfeb) {
      background-position: 0 -46px;
    }
    @if ($color == #bcdce0) {
      background-position: 0 -138px;
    }
  }
  .mv-box-head-text{
    float: left;
    position: relative;
    left: 10px;
    @if ($color == #dee3e4) {
      color: #414141;
    }@else {
      color: white;
    }
  }
  .mv-box-select{
    float: right;
    position: relative;
    height: 28px;
    height: 23px\9;
    top: 3px;
    top: 5px\9;
    right: 5px;
    color: #707070;
  }
  .mv-message-box-content{
    width: 100%;
    min-height: 50px;
    padding-top: 1px;
    @if ($color == #dee3e4) {
      background: #f2f3f4;
    }@else {
      background: white;
    }
  }
}*/

/*
@mixin mv-load ($bgColor) {
  display: inline-block;
  width: 262px;
  height: 76px;
  padding: 1px;
  border: 3px solid #404040;
  background: white;
  .mv-load-ing{
    width: 100%;
    height: 100%;
    background: #EFF0F0;
    text-align: center;
    p{
      position: relative;
      top: 20px;
      font-size: 13px;
    }
  }
  .mv-load{
    position: relative;
    width: 210px;
    height: 12px;
    margin: 0 auto;
    padding: 1px;
    top: 10px;
    border: 1px solid #CFD3D3;
    background: white;
  }
  .mv-load-style{
    width: 210px;
    height: 100%;
    background: $bgColor;
  }
}*/
